* 
{ 
	margin: 0; 
	padding: 0; 
}

body 
{ 
	background: #F0E6E2; 
}

canvas
{
    position: absolute;
    max-width: 90%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	-webkit-box-shadow: 10px 10px 30px 0px rgba(196,182,169,1);
	-moz-box-shadow: 10px 10px 30px 0px rgba(196,182,169,1);
	box-shadow: 10px 10px 30px 0px rgba(196,182,169,1);
}